.field-text{
    /* margin top&&bot 24 and left right --> 0 */
    margin: 24px 0;
}

.field-text label{
    /*Break the line --> not side by side*/
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.field-text input{
    background-color:#fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.0); 
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
   /* 100 % view and not consider padding value*/
   /*I wnat to give 100% with size, padding etc */
   box-sizing: border-box;
}